

// Buttons
// ==================================================

@mixin btn($color, $small_w, $big_w) {
  .btn--#{$color} {
    background-image: url(../images/btn-#{$color}.svg);
    width: em($small_w, 14);

    &.btn--big {
      background-image: url(../images/btn-#{$color}-big.svg);
      width: em($big_w, 14);
    }

    &:hover, &:active, &.active {
      // background: darken($c, 5%);
      color: $text-color-inverse;
    }
  }
}

button {
  background: transparent;
  border: 0;
  outline: 0;
  color: $text-color;
}

.btn, button {
  font-family: $font-family-base;
  cursor: pointer;
  transform-origin: center;
  transition: $transition;

  &:hover, &:active, &.active {
    transform: scale(1.05);
  }

  // &:focus {
  //   color: $text-color-inverse;
  // }
}

.btn {

  @extend .text--bold;
  @extend .text--uppercase;

  font-family: $font-family-base;
  font-size: rem(14);
  letter-spacing: em(2.5, 14);

  display: inline-block;
  vertical-align: middle;

  height: em(64, 14);
  width: em(236, 14);

  padding-top: em(7, 14);

  text-align: center;

  background-image: url(../images/btn-yellow.svg);
  background-size: cover;

  color: $text-color-inverse;

  border: 0;
  box-shadow: 0;
  outline: 0;

  overflow: hidden;
  white-space: nowrap;

  transition: $transition;
  cursor: pointer;
}

.btn__ic {
  position: relative;
  top: -2px;
  margin-right: 12px;
}

.btn--big {
  background-image: url(../images/btn-yellow-big.svg);
  width: em(337, 14);
}


// -----------------------------------------------------
@include btn('yellow', 236, 337);
@include btn('white', 257, 337);