.ic {
  position: relative;
  font-size: rem(20);
}

.ic-play {
  position: relative;
  font-size: rem(8);
  padding-top: em(2, 8);

  &:before {
    display: inline-block;
    width: em(6, 8);
    height: em(8, 8);
  }
  &:after {
    content: '';
    width: em(30, 8);
    height: em(30, 8);
    border-radius: 50%;
    border: 1px solid $text-color-inverse;
    opacity: .2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.ic-arrow-left, .ic-arrow-right, .ic-arrow-long-left, .ic-arrow-long-right {
  font-size: rem(18) !important;
  top: em(-1, 18);
  left: em(2, 18);
}

.ic-fb {
  color: $facebook-color !important;
}