a {

  &, * {
    transition: $transition;
  }

  color: $text-color;

  &:hover, &:focus, &:active {
    text-decoration: none;
    color: darken($text-color, 10%);
  }

  // telephone
  &[href^="tel:"] {
    color: $text-color;
  }
}

.link {
  position: relative;
  transition: $transition;
  &:hover, &:focus, &:active {
    text-decoration: none;
  }

  .ic {
    position: absolute;
    font-size: 1.2em;
    top: 50% !important;
    left: auto;
    right: auto;
    transform: translate(.5em, -50%);
  }
}

.link--icon-first {
  margin-left: em(35);

  .ic {
    left: em(-35);
    transform: translate(0, -50%);
  }

  .ic-plus {
    font-size: em(23, 22);
  }
}

.link--yellow {
  @extend .text--yellow;
}

.link--white {
  @extend .text--white;
}


.link--underline {

  position: relative;
  display: inline-block;
  line-height: 1.2;

  transition: $transition;

  white-space: nowrap;

  // underline
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 100%;
    background: currentColor;
    opacity: .25;

    transition: $transition;
  }

  &:hover, &:focus, &:active, &.active {
    &:after {
      opacity: 0;
    }
  }
}