.list {
}

.list--no-style {
  list-style: none;
  list-style-position: inside;
  padding: 0;
  margin: 0;
}

.list--inline {
li, .list__item {
    display: inline-block;
  }
}

.list--block-inline {
  @include clearfix;
  li, .list__item {
    display: block;
    float: left;
  }
}

.list--horizontal {
  display: flex;
  > * {
    flex: 1;
  }
}

.list--more-space {
  li, .list__item {
    margin-bottom: em(18, 24);
  }
}

.list--custom {
  @extend .list--no-style;

  li {
    padding-left: 1em;
    margin-bottom: .5em;

    .list__symbol {
      position: relative;
      color: $blue;

      &:before {
        content: '';
        position: absolute;
        height: .5em;
        width: .5em;
        left: -1em;
        top: .33em;
        background-color: currentColor;
        color: currentColor;
        border-radius: 50%;
      }
    }
  }
}

.list--counter {
  @extend .list--custom;

  li {
    padding-left: 0;
    margin-bottom: em(80);
    counter-increment: step-counter;
    padding-left: em(150);

    .list__symbol {
      &::before {

        font-size: em(120);
        line-height: 1;

        left: em(-30, 120);
        content: counter(step-counter) '.';
        font-weight: 300;

        height: auto;
        width: auto;
        background: none;

        top: 0;
        transform: translate(-100%, -37%);
      }
    }
  }
}

@mixin list-counter-bullet-hover() {
  a {
    &:before {
      border-color: $text-color-inverse !important;
      background-color: $text-color-inverse !important;
      color: $blue !important;
    }
  }
}

.list--counter-bullet {
  li {
    counter-increment: step-counter;

    a {
      &:before {
        content: counter(step-counter) '.';
        display: inline-block;
        width: em(46);
        height: em(46);
        line-height: em(46);
        text-align: center;
        margin-right: em(9);
        border: 1px solid transparentize($text-color-inverse, .35);
        border-radius: 50%;
        padding-left: em(4);
        background-color: transparent;

        transition: $transition;
      }
    }

    &:hover, &.active {
      @include list-counter-bullet-hover;
    }
  }
}


// color versions
.list--blue {
  &.list--custom,
  &.list--info {
    .list__symbol {
      color: $blue;
    }
  }
}

.list--orange {
  &.list--custom,
  &.list--info {
    .list__symbol {
      color: $orange;
    }
  }
}

.list--green {
  &.list--custom,
  &.list--info {
    .list__symbol {
      color: $green;
    }
  }
}

.list--yellow {
  &.list--custom,
  &.list--info {
    .list__symbol {
      color: $primary-color;
    }
  }
}

.list--red {
  &.list--custom,
  &.list--info {
    .list__symbol {
      color: $red;
    }
  }
}

.list--purple {
  &.list--custom,
  &.list--info {
    .list__symbol {
      color: $purple;
    }
  }
}