
// Color theme mixin
@mixin textColor($color, $c) {
  .text--#{$color} {
    &, a {
      color: $c;
      &:hover, &:focus {
        color: darken( $c, 10%);
      }

      &:before, &:after {
        transition: $transition;
      }

      &:before {
        color: $c;
      }

      &:after {
        background: $c;
      }
    }

    &.text--underline {
      // underline
      &:after {
        background: $c;
      }

      &:hover {
        &:after {
          background: darken($c, 10%);
        }
      }
    }
  }
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  text-align: center;
  margin: 1em 2em;
}

h1, .h1 {
}

h2, .h2 {
}

h3, .h3 {
}

h4, .h4 {
}

h5, .h5 {
}

h6, .h6 {
  @extend .text--bold;
}

.text {
  font-size: $font-size-base;
}

.text--uppercase {
  text-transform: uppercase;
}

.text--normal {
  text-transform: 300;
}

.text--light {
  font-weight: 100;
}

.text--bold {
  font-weight: 700;
}

strong {
  font-weight: 700;
}

.text--extra-small {
  @extend .text--bold;
  font-size: rem(10);
  letter-spacing: em(1.33, 10);
}

.text--small {
  @extend .text--light;
  @extend .text--uppercase;
  font-size: rem(13);
  letter-spacing: em(2.5, 13);
}

.text--semi-small {
  @extend .text--bold;
  @extend .text--uppercase;
  font-size: rem(16);
  letter-spacing: em(3, 16);
}

.text--semi-large {
  @extend .text--uppercase;
  font-size: rem(20);
  font-weight: 300;
  letter-spacing: em(2.67, 20);
}

.text--large {
  @extend .h2;
}

.text--extra-large {
  font-size: rem(30);
}

.text--ultra-large {
  @extend .text--light;
  font-size: rem(33);
  letter-spacing: em(4.4, 33);
}

.text--mega-large {
  @extend .text--bold;
  font-size: rem(120);
  letter-spacing: em(16, 120);
}

.text--underline {
  position: relative;
  &:after {
    content: '';
    position: absolute;
    bottom: em(-8, 13);
    left: 50%;
    transform: translate(-50%, 0);
    height: em(3, 13);
    width: 100%;
    background: $text-color;
  }
}

@include textColor('yellow', $primary-color);
@include textColor('black', #000);

.text--white {
  &, a {
    color: #fff;
    &:hover, &:focus {
      &, &:before, &:after {
        color: darken(#fff, 10%);
      }
    }

    &:before, &:after {
      transition: $transition;
    }

    &:before {
      color: #fff;
    }

    &:after {
      color: #fff;
      background: #fff;
    }
  }
}

// @include media-breakpoint-down(xs) {

//   h1, .h1 {
//     font-size: 64px;
//   }

//   h2, .h2 {
//     font-size: 50px;
//   }

//   h3, .h3 {
//     font-size: 40px;
//   }

//   h4, .h4 {
//     font-size: 30px;
//   }

// }