

// Mixins
// ==================================================

@mixin link-underline($color, $position: bottom) {
  text-decoration: none;
  background: repeat-x $position;
  background-image: linear-gradient($color, $color);
  background-size: 1px 1px;
}

@mixin center-content() {
  display: flex;
  justify-content: center;
  align-items: center;
}


@mixin vw-unit($param, $value) {
  #{param}: $value;
  #{param}: vw($value);
}