
html, body {
  min-height: 100vh;
}

// rem responsive
html {
  font-size: vw($root-font-size * 1px);

  @media (min-width: 1921px) {
    font-size: ($root-font-size * 1px * 1.25);
  }

  @include media-breakpoint-down(xl) {
    font-size: vw(12px, 1366px);
  }

  @include media-breakpoint-down(lg) {
    font-size: vw(11px, 1024px);
  }

  @include media-breakpoint-down(md) {
    font-size: 12px;
  }

  @include media-breakpoint-down(xs) {
    font-size: 10px;
  }
}

body {
  background-color: $text-color-inverse;
}

.body-inner {
}

.container {
  padding: 3em 2em;
}

// transition little move issue
// https://stackoverflow.com/questions/12980153/image-moves-on-hover-chrome-opacity-issue
* {
  backface-visibility: hidden;
}

*:not(input) {
  &:focus { outline: none; }
}

.main-content {
  overflow: hidden;
}

.video-iframe-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;

  iframe {
    position: absolute;
    height: inherit; width: 100%;
  }
}

@keyframes spinner {
    to {transform: rotate(360deg);}
}

.lazy-load {
  display: block;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

// FullScreen custom nav
.mover {
  cursor: pointer;
}