
// Color theme mixin
@mixin headerColor($color, $c) {
  .header__content {
    li {
      a {
        @extend .text--#{$color};
      }
    }
  }

  .nav__toggle:not(.is-active) {
    color: $text-color-inverse;

    .nav__hamburger {
      &,
      &:before,
      &:after {
        background-color: $c;
      }
    }
  }
}

// Header
// ==================================================

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;

  padding: vh(46px) vw(100px);

  .black & {
    @extend .header--black;
  }

  .fp-responsive & {
    padding: .75em;
  }

  .fp-responsive:not(.menu-active) & {
    @extend .header--black;
    background: $primary-color;
  }
}

.header__inner {
  display: flex;
  justify-content: space-between;
}

.header__content {

  @extend .hide;

  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1;

  li {
    transition: $transition;
    display: inline-block;
    margin: 0 vw(19px);

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin: 0 vw(60px);
      @extend .text--yellow;
    }
  }

  a {
    @extend .text--small;
    @extend .text--white;
    line-height: 1;
  }

  .menu-active & {
    opacity: 0;
  }

  .fp-responsive & {
    display: flex;
    align-items: center;
    li {
      a {
        font-size: 10px;
      }
      &:not(:last-child) {
        @include media-breakpoint-down(xs) {
          display: none;
        }
      }
    }
  }
}

.header__logo {
}

.header__nav {
}

.header--black {
  @include headerColor('black', #000);
}

.header--no-promo-link {
  .header__content {
    li {
      &:last-child {
        opacity: 0;
        pointer-events: none;
      }
    }
  }
}