
// Eu CookieBar styles
// ==================================================

$cb-font-size: rem(20);
$cb-font-size-1366: rem(16);
$cb-font-size-mobile: rem(16);

// bar
$cb-bg: $primary-color;
$cb-text: $text-color-inverse;

// link
$cb-link: $text-color-inverse;
$cb-link-underline: $text-color-inverse;
$cb-link-hover: $text-color-inverse;
$cb-link-underline-hover: transparent;

// button
$cb-button-bg: transparentize($text-color-inverse, .05);
$cb-button-text: $primary-color;
$cb-button-bg-hover: $text-color-inverse;
$cb-button-text-hover: $primary-color;

.cookie-bar {

  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;

  background: $cb-bg;
  font-size: $cb-font-size;

  color: $cb-text;
  padding: 1em;

  z-index: 999;
  transition: transform 0.3s ease-in-out;
  user-select: none;

  > * {
    font-size: inherit;
  }

  &--agreed {
    transform: translateY(+125%);
  }

  @media (max-width: 1366px) {
    font-size: $cb-font-size-1366;
  }

  @include media-breakpoint-down(sm) {
    display: block;
    font-size: $cb-font-size-mobile;
    text-align: center;
  }

}

.cookie-bar__text {

  margin: 0;
  padding: 0;

  a {
    color: $cb-link;
    text-decoration: none;
    border-bottom: 1px solid $cb-link-underline;
    transition: border 0.25s ease-in-out;

    &:hover {
      color: $cb-link-hover;
      border-bottom: 1px solid $cb-link-underline-hover;
    }
  }
}

.cookie-bar__btn {

  margin: 0 0 0 2em;
  min-width: em(200, 20);
  line-height: (50 / 20);

  background: $cb-button-bg;
  color: $cb-button-text;
  font-size: $cb-font-size;

  border: 0;
  outline: 0;

  &:hover {
    background: $cb-button-bg-hover;
    color: $cb-button-text-hover;
  }

  @media (max-width: 1366px) {
    font-size: $cb-font-size-1366;
  }

  @include media-breakpoint-down(sm) {
    margin: 1.2em 0 0 0;
    font-size: $cb-font-size-mobile;
  }
}