
// Main navigation
// ==================================================

.nav {
  display: block;
}

.nav__list {
  display: inline-block;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav__item {
  text-align: center;
  margin: vh(26px) 1em;

  a {
    @extend .text--large;
    display: block;
    padding: 0;
  }

  &.active, &:hover, &:focus, &:active {
    @extend .text--yellow;
  }

}

.nav__screen {
  @extend .screen;

  position: fixed;
  z-index: 100;

  display: flex;
  align-items: center;
  justify-content: center;

  background: transparentize(#000, .2);

  opacity: 0;
  pointer-events: none;

  transition: $transition;
}

.nav__list {
  width: (1920 / 720 * 100%);
  text-align: center;
  position: relative;

  &:first-child, &:last-child {
    &:before {
      content: '';
      position: absolute;
      width: 1px;
      height: vh(400px);
      top: 50%;
      transform: translate(0, -50%);

      background: transparentize($text-color, .2);
    }
  }

  &:first-child {
    &:before {
      right: 0;
    }
  }

  &:last-child {

    .nav__item {
      margin: em(70) 1em;
    }

    &:before {
      left: 0;
    }
  }
}

// mobile toggle and hamburger
.nav__toggle {

  @extend .text--semi-small;
  font-size: 16px;
  user-select: none;

  position: relative;
  z-index: 101;
  padding: 8px 8px 8px 20px;
  line-height: 1;

  background: transparent;
  color: $text-color;

  cursor: pointer;

  .nav__hamburger {
    // mixin vendor/less-burder.less
    @include burger(13px, 2px, 3px, $text-color);
  }

  .nav__text {
    display: inline-block;
  }

  &.is-active {
    .nav__hamburger {

       // mixin vendor/less-burder.less
      @include burger-to-cross(2px, 3px, $text-color);
    }

    + .nav__screen {
      opacity: 1;
      pointer-events: all;
    }
  }

  @include media-breakpoint-down(xl) {
    font-size: 14px;
  }
}
